{% import_yaml 'genkernel/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Gentoo': {},
        'Arch': {
            "pkg" : 'genkernel',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('genkernel:lookup'))
%}

{% do default_settings.genkernel.update(os_family_map) %}

{% set genkernel = salt['pillar.get'](
        'genkernel',
        default=default_settings.genkernel,
        merge=True
    )
%}
